.navbar-brand,
.nav-link {
    color: aliceblue;
}

.navbar-main {
    background-color: rgb(74, 108, 231);
}

.card-dashboard {
    color: aliceblue;
    background-color: rgb(74, 108, 231);
}


/* .navbar-collapse {
    display: flex;
    justify-content: center;
}

@media (max-width: 992px) {
    .navbar-collapse.collapsed {
        display: block;
        text-align: center;
    }
} */