{{ template "layouts/header.html" }}
<!--  -->
{{ template "layouts/navbar.html"}}

<link rel="stylesheet" href="/assets/css/create-user.css?t={{ isTime }}">

<div class="container mt-4">
    <div class="d-flex justify-content-center main-card">
        <div class="btn-create-user mb-2" style="width: 65rem; display: flex; justify-content: flex-end;">
            <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                <a role="button" href="{{ app_url }}user/" class="btn btn-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0z" />
                        <path fill-rule="evenodd"
                            d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708z" />
                    </svg> back
                </a>
            </div>
        </div>
    </div>
    <div class="row g-2">
        <div class="col-md-12">
            <div class="d-flex justify-content-center main-card">
                <div class="card" style="width: 65rem;">
                    <div class="card-body">
                        <h5 class="card-title">Create</h5>

                        {{ template "components/dashboard-main.html"}}

                        <div class="form-user">
                            <form id="form-create-user" action="{{ app_url }}user/create" method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" class="form-control form-control-sm" id="username" name="username" required>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="text" class="form-control form-control-sm" id="password" name="password" required>
                                </div>
                                <div class="mb-3">
                                    <label for="formFileSm" class="form-label">Profile</label>
                                    <input type="file" class="form-control form-control-sm" id="profile" name="profile">
                                </div>
                                <button type="button" class="btn btn-sm btn-primary w-100" onclick="onSubmitFormCreateUser();">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/create-user.js?t={{ isTime }}"></script>

{{ template "layouts/footer.html"}}